{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br>
                <div class="card mb-8">
                    <div class="row g-0">
                        <div class="col-md-4">
                          <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="{{ product.name }}">
                        </div>
                        <div class="col-md-8">
                              <div class="card-body">
                                    <h5 class="card-title">
                                        {{ product.name }}
                                    </h5>
                                    <p class="card-text">
                                        {{ product.description }}
                                    </p>
                                    {% if product.is_sale %}
                                        <div class="text-center">
                                            <strike>${{ product.price }}</strike>
                                            ${{ product.sale_price }}
                                        </div>
                                    {% else %}
                                        <div class="text-center">
                                            ${{ product.price }}
                                        </div>
                                    {% endif %}
                                  <br>
                                  <a href="{% url 'home' %}" class="btn btn-secondary">
                                      Home
                                  </a>
                                  <br><br>
                                  <button type="button" value="{{ product.id }}" class="btn btn-secondary" id="add-cart">
                                      Add to Cart
                                  </button>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </center>
    </div>
</div>

<script>
    // Check if button is clicked
    $(document).on('click', '#add-cart', function(e){
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "{% url 'cart_add' %}",
            data: {
                product_id: $('#add-cart').val(),
                csrfmiddlewaretoken : "{{ csrf_token }}",
                action: 'post'
            },
            success: function(json){
                 console.log(json);
            },

            error: function(xhr, errmsg, err){
            }
        });

    })
</script>

{% endblock %}