{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br>
                <div class="card mb-8">
                    <div class="row g-0">
                        <div class="col-md-4">
                          <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="{{ product.name }}">
                        </div>
                        <div class="col-md-8">
                              <div class="card-body">
                                    <h5 class="card-title">
                                        {{ product.name }}
                                    </h5>
                                    <p class="card-text">
                                        {{ product.description }}
                                    </p>
                                    {% if product.is_sale %}
                                        <div class="text-center">
                                            <strike>${{ product.price }}</strike>
                                            ${{ product.sale_price }}
                                        </div>
                                    {% else %}
                                        <div class="text-center">
                                            ${{ product.price }}
                                        </div>
                                    {% endif %}
                                  <br>
                                  <a href="{% url 'home' %}" class="btn btn-secondary">Home</a>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </center>
    </div>
</div>
{% endblock %}